<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/pure-min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.5.0/grids-responsive-min.css">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css"/>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}" />
    <style>
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
</head>
<body>
{% for category, message in get_flashed_messages(with_categories=true) %}
<script>toastr.{{category}}("{{message}}")</script>
{% endfor %}

<div id="container">
    <div id="content">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="{{ url_for('main') }}">{{request.headers['Host']}}</a></li>
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('my') }}">My Pastes</a></li>
                {% if current_user.admin %}
                <li><a href="/admin">Admin</a></li>
                {% endif %}
                {% endif %}

                {% block topbar%} {% endblock %}
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <hr>
        {% block body %}{% endblock %}
    </div>
</div>
<div class="footer">
    Powered by <a href="https://zifb.in">zifb.in</a>, an <a href="http://github.com/zifnab06/zifb.in">open source</a> pastebin by zifnab06.
</div>
</body>

</html>
