<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.3.0/pure-min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.min.css" />
    <style>
        html, body, #container { height: 100%; width: 100%; margin: 0; }
        body > #container { height: auto; min-height: 91%; }
        textarea {height: 500px}
        .footer {
        clear: both;
        position: relative;
        height: 1em;
        margin-top: 3em;
        background: #eee;
        color: #666;
        text-align: center;
        padding: 1em;
        font-size: 80%;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.min.js"></script>
</head>
<body>
{% for category, message in get_flashed_messages(with_categories=true) %}
<script>toastr.{{category}}("{{message}}")</script>
{% endfor %}

<div id="container">
    <div id="content">
        <div class="pure-menu pure-menu-open pure-menu-horizontal">
            <ul>
                <li><a href="{{ url_for('main') }}">zifb.in</a></li>
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('my') }}">My Pastes</a></li>
                {% endif %}

                {% block topbar%} {% endblock %}
                {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
        <hr>
        {% block body %}{% endblock %}
    </div>
</div>
<div class="footer">
    zifb.in is <a href="http://github.com/zifnab06/zifb.in">open source</a>.
</div>
</body>

</html>