{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns panel">
        <h4>Log In</h4>
        <hr>
        <form action="" method="post">
            {{ form.username(placeholder=form.username.label.text)}}
            {{ form.password(placeholder=form.password.label.text)}}
            <label class="checkbox"> {{form.remember() }} {{form.remember.label.text}}</label>
            <button type="submit" class="button expand">Log In</button>
        </form>
        <br />
        <label>Don't have an account? <a href="{{url_for('register')}}">Create one.</a></label>
        {#<label>Forgot your password? <a href="{{url_for('pwreset')}}">Reset it.</a></label>#}
    </div>
</div>

{% endblock %}
