{% extends 'base.html' %}
{% block topbar %}
<li><a href="/about">About</a></li>
<li><a href="/api">API</a></li>
{% endblock %}
{% block body %}
<div class="pure-g-r">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
        <form action="" method="post" class="pure-form">
{#            {% for error_field in form.errors.values() %}
            {%- for error in error_field %}
            <div class="alert-box alert radius" data-alert>
                {{ error }}
                <a href="#" class="close">&times;</a>
            </div>
            {% endfor %}
            {% endfor %}
#}

            {{ form.hidden_tag() }}
            <div class="row small-collapse">
                <div class="small-12 columns">
                    {{ form.text(placeholder=form.text.label.text) }}
                </div>
            </div>
            <div class="row small-collapse">
                <div class="small-12 medium-4 columns">
                    {{ form.expiration(placeholder=form.expiration.label.text) }}
                </div>
                <div class="small-12 medium-4 columns">
                    {{ form.language(placeholder=form.language.label.text) }}
                </div>
                <div class="small-12 medium-4 columns">
                </div>
            </div>
            <div class="row small-collapse">
                <div class="small-12 columns">
                <button type="submit" class="button expand">Paste</button>
            </div>
        </form>
    </div>
    <div class="pure-u-1-5"></div>
</div>
{% endblock %}
