{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col h-75">
        <form action="" method="post">
            <div class="form-group">
            {{form.hidden_tag()}}
            {{form.text(class="form-control", placeholder=form.text.label.text)}}
            </div>
            <div class="row justify-content-lg-center">
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="for-mgroup">
                        <label for="expiration">Expire In</label>
                        {{ form.expiration(placeholder=form.expiration.label.text, class="w-100") }}
                    </div>
                </div>
                <div class="col col-lg-4 col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="language">Language</label>
                        {{form.language(placeholder=form.language.label.text, class="w-100") }}
                    </div>
                </div>
            </div>
            <br />
            <div class="row justify-content-lg-center">
                <div class="col col-lg-8">
                    <button type="submit" class="btn btn-primary w-100">Paste</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock %}