{% extends 'base.html' %}
{% block topbar %}
<li><a href="/raw/{{paste.name}}">Raw</a></li>
<li class="divider"></li>
<li><a>Date: {{paste.time|prettytime}}</a></li>
{% if paste.language is defined%}
<li><a>Language: {{paste.language}}</a></li>
{% endif %}
{% if paste.user.username is defined %}
<li><a>User: {{paste.user.username}}</a></li>
{% endif %}
<li><a>Views: {{paste.views}}</a></li>
{% if paste.expire %}
<li><a>Expires: {{paste.expire|humanize}}</a></li>
{% else %}
<li><a>Expires: Never</a></li>
{% endif %}
{% endblock %}
{% block body %}

<div class="row">
    <div class="small-12 small-centered medium-10 medium-centered columns">
        {{text|safe}}
    </div>
</div>

{% endblock %}
