{% extends 'base.html' %}
{% block body %}
<div class="row">
    <div class="small-12 medium-8 medium-centered large-6 large-centered columns panel">
        <h4>Register</h4>
        <hr>
        <form action="" method="post">
            {{ form.username(placeholder=form.username.label.text, class="pure-input-1") }}
            {{ form.email(placeholder=form.email.label.text, class="pure-input-1", type='email') }}
            {{ form.password(placeholder=form.password.label.text, class="pure-input-1") }}
            {{ form.password2(placeholder=form.password2.label.text, class="pure-input-1") }}
            <button type="submit" class="button expand">Submit</button>
        </form>
        <br />
    </div>
</div>

{% endblock %}
